@media(min-width:1400px) {
    .container {
        max-width: 1264px;
    }

    .container-large {
        max-width: 1364px;
    }

    .container_header {
        max-width: 1321px;
    }

}

.container-r0 {
    width: 100%;
    padding-left: calc((1440px - 1250px)/2);
    margin: 0 auto;
    max-width: 1440px;
}

.container-l0 {
    width: 100%;
    padding-right: calc((1440px - 1250px)/2);
    margin: 0 auto;
    max-width: 1440px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;

    &>* {
        padding-left: 10px;
        padding-right: 10px;
    }
}

body * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
    
}

body {
    font-family: 'Lato';
    font-size: 20px;
    margin: 0;
    position: relative;

    &.hidden {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
}

.row.g-0 {
    margin-left: 0;
    margin-right: 0;

    &>* {
        padding-left: 0;
        padding-right: 0;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input {
    outline: none;
}

h1 {
    color: #000;
    font-weight: 600;
    font-size: 48px;

    &.light {
        font-weight: 400;
    }
}

h2 {
    color: #000;
    font-size: 38px;
    font-weight: 400;
}

h3 {
    color: #000;
    font-size: 38px;
    font-weight: 400;
}

h4 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.redbtn {
    background: #D00404;
    padding: 18px 32px;
    border-radius: 20px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 4px 4px rgba(#D00404, 0.15);
    transition: 0.3s;
    display: inline-block;

    &:hover {
        background: var(--darkred);
    }

    &:active {
        background: var(--primblue900);
    }

    &.disabled {
        background: #A2A2A2;
        pointer-events: none;
    }
}

.bluebtn {
    background: var(--primblue900);
    border: 1px solid var(--primblue900);
    padding: 16px 30px;
    border-radius: 20px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;

    &:hover {
        background: var(--white);
        border-color: var(--main);
        color: var(--primblue900);
    }

    &:active {
        background: var(--primblue900);
        color: var(--white);
    }

    &.disabled {
        background: #A2A2A2;
        border-color: #A2A2A2;
        pointer-events: none;
    }
}

.borderbtn {
    background: var(--white);
    border: 1px solid #D00404;
    padding: 16px 30px;
    border-radius: 20px;
    color: #181818;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
    display: inline-block;

    &:hover {
        background: var(--white);
        border-color: #2B2D42;
        color: var(--main);
    }

    &:active {
        border-color: #D00404;
        background: var(--white);
        color: #181818;
    }

    &.disabled {
        background: #A2A2A2;
        border-color: #A2A2A2;
        pointer-events: none;
    }
}

.container-large {
    margin: 0 auto;
    width: 100%;
}

main.main {
    padding-top: 150px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.mobshow {
    display: none;
}

.breadcrumbs {
    margin: 40px 0 4px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 22px;
            font-size: 16px;
            color: #000;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #201F1F;
                position: absolute;
                right: -17px;
                top: 8px;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            a {
                color: #656565;
                transition: 0.3s;

                &:hover {
                    color: var(--main);
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.flex-direction-columb {
    flex-direction: column;
}






@media(max-width:1399.8px) {
    .container-r0 {
        padding-left: calc((100vw - 1140px)/2);
    }

    .container-l0 {
        padding-right: calc((100vw - 1140px)/2);
    }
    
}

@media(max-width:1199.8px) {
    .container-r0 {
        padding-left: calc((100vw - 950px)/2);
    }
    .container-l0 {
        padding-right: calc((100vw - 950px)/2);
    }
    
}

@media(max-width:991.8px) {
    .container-r0 {
        max-width: 720px;
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
    }

    .container-l0 {
        max-width: 720px;
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
    }
}


@media(max-width:767.8px) {
    main.main {
        padding-top: 100px;
    }

    .container-r0,
    .container-l0 {
        max-width: 540px;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
    }
}

@media(max-width:575.8px) {
    .mobshow {
        display: block;
    }

    main.main {
        padding-top: 70px;
    }

    .redbtn {
        padding: 16px 25px;
    }
}

.mw391 {
    max-width: 391px;
}

.pt0 {
    padding-top: 0 !important;
}

.pt38 {
    padding-top: 38px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt100 {
    padding-top: 100px !important;
}

.mb28 {
    margin-bottom: 28px;
}

.pr20 {
    padding-right: 20px !important;
}


// pt48
// mb65
// mw391