.insect1 {
    .col-lg-5 {
        display: flex;
        flex-direction: column;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .imgwrap {
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 100%;
        max-height: 500px;
    }

    .rdborderblock {
        height: 100%;
    }
}

.insect1 .align-items-center .rdborderblock {
    min-height: 395px;
}

.insect2 {
    h3.title {
        margin-bottom: 64px;
        text-transform: uppercase;
        font-size: 38px;
        color: #000;
    }
}

@media(max-width:991.8px) {
    .insect1 .imgwrap {
        height: auto;
        max-height: initial;

        img {
            height: auto;
            object-fit: initial;
        }
    }

    .insect1 .rdborderblock {
        height: auto;
    }

    .insect1 .descrblue {
        margin-bottom: 10px;
    }

    .tablesect table th {
        font-size: 18px;
    }

    .insect1 .align-items-center .rdborderblock {
        min-height: initial;
    }

    .insect2 h3.title {
        font-size: 26px;
        margin-bottom: 30px;
    }
}

@media(max-width:575.8px) {
    .insect2 h3.title {
        font-size: 21px;
        margin-bottom: 15px;
    }

    .probltext.probltext__bott {
        margin-top: 20px;
    }
}


// gnatology
.perform-doc+.insect2 {
    padding-top: 100px;
}

.title-lg.mb65 {
    margin-bottom: 65px;
}

.insect2 {
    .imgwraplst {
        position: relative;
        overflow: hidden;
        height: 100%;
        border-radius: 20px 0 0 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}

.insect4.v2 {
    ul li span:after {
        border-radius: 0 20px 0 0;
    }

    ul li:first-child span {
        min-height: 77px;
    }

    ul li p:after {
        height: calc(100% - 65px);
    }
}

.tablesect {
    .redbtn {
        margin-top: 48px;
    }
}


.littpadd {
    padding: 48px 0 28px;
}

.proces {
    .title.thin {
        font-weight: 300;
    }
}

.proces__img {
    img {
        vertical-align: top;
        border-radius: 20px 0 0 20px;
    }
}

.styledlist:last-child {
    margin-bottom: 0;
}

@media(max-width:1399.8px) {
    .title-lg {
        font-size: 32px;
    }

    .title-lg.mb65 {
        margin-bottom: 40px;
    }

    .perform-doc+.insect2 {
        padding-top: 80px;
    }
}

@media(max-width:1199.8px) {
    .title-lg {
        font-size: 26px;
    }

    .title-lg.mb65 {
        margin-bottom: 20px;
    }

    .perform-doc+.insect2 {
        padding-top: 70px;
    }

    .insect4 ul li:first-child span {
        min-height: 80px;
    }

    .insect4 ul li p:after {
        height: calc(100% - 40px);
    }

}

@media(max-width:991.8px) {
    .insect2 .imgwraplst img {
        border-radius: 20px;
    }

    .insect4 ul li span {
        min-height: 60px;
    }

    .insect4 ul li {
        align-items: flex-start;
    }

    .insect4 ul li span {
        margin-top: 0;
    }

    .insect4 ul li p {
        padding-top: 15px;
    }

    .insect4.v2 ul li p:after {
        height: calc(100% - 50px);
    }

    .tablesect .redbtn {
        margin-top: 30px;
    }

    .proces__img {
        margin-top: 20px;

        img {
            width: 100%;
            border-radius: 20px;
        }
    }
}

@media(max-width:767.8px) {
    .insect4 ul li p:after {
        height: calc(100% - 10px);
    }
}

@media(max-width:575.8px) {
    .perform-doc+.insect2 {
        padding-top: 50px;
    }

    .title-lg {
        font-size: 21px;
    }

    .insect4.v2 {
        ul li span {
            display: none;
        }

        ul li p {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}

.insect4.v2 ul li span {
    height: 70px;
}

.infosection3 {
    .infbordbox p b {
        font-weight: 400;
    }

    .borderbtn {
        margin-top: 20px;
    }
}

@media(max-width:575.8px) {
    .insect2+.infosection3 {
        padding-top: 30px;
    }

    .infosection3 .borderbtn {
        text-align: center;
        width: 100%;
    }
}

// Caries treatment

.insect5 {
    padding: 60px 0 0 0;
    position: relative;
    margin-bottom: 60px;

    .descr {
        background: var(--primblue900);
        border-radius: 0 20px 20px 0;
        padding: 48px 62px 48px 85px;
        color: #fff;
        width: 100%;
        max-width: 73%;
        flex: 0 0 73%;

        p {
            font-weight: 300;
            margin-bottom: 28px;

            b {
                font-weight: 400;
            }
        }
    }

    .imgwrap {
        width: 100%;
        max-width: calc(27% - 14px);
        flex: 0 0 calc(27% - 14px);

        img {
            width: 100%;
            vertical-align: top;
            border-radius: 20px 0 0 20px;
        }
    }

    .abspic {
        position: absolute;
        bottom: 0;
        right: 27%;
        border-radius: 20px;
    }

    .container-large {
        position: relative;
    }
}

@media(max-width:1399.8px) {
    .insect5 .abspic {
        max-width: 400px;
    }

    .littpadd,
    .tablesect {
        padding-bottom: 20px;
    }
}

@media(max-width:1199.8px) {
    .insect5 .abspic {
        display: none;
    }
}

@media(max-width:991.8px) {
    .insect5 .imgwrap {
        display: none;
    }

    .container-large {
        max-width: 720px;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
    }

    .insect5 .descr {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 20px 40px;
        border-radius: 20px;
    }

    .insect5 {
        margin-bottom: 30px;
    }
}

@media(max-width:575.8px) {
    .insect5 .descr {
        padding: 20px 30px;

        p {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .borderbtn {
            display: block;
            text-align: center;
        }
    }

    .insect5 {
        margin-bottom: 20px;
    }
}

// Treatment of canals

.insect2 .imgwraplst img {
    position: absolute;
    left: 0;
    top: 0;
}

@media(max-width:991.8px) {
    .aboutsect h1 br {
        display: none;
    }

    .solutionlist {
        margin-bottom: 0;
    }
}

// Gum treatment

.imgwraplst.sml {
    img {
        max-width: 460px;
        display: inline-block;
        right: 0;
        left: initial;
        border-radius: 20px 0 0 20px;
    }
}

.tablesect__imgright {
    height: 100%;
    position: relative;

    img {
        border-radius: 20px 0 0 20px;
        vertical-align: top;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
        top: 0;
        left: 0;
    }
}

@media(max-width:991.8px) {
    .insect2 .imgwraplst img {
        position: relative;
    }

    .insect2 .imgwraplst {
        margin-top: 10px;
    }

    .imgwraplst.sml {
        margin-top: 10px;

        img {
            width: 100%;
            border-radius: 20px;
            max-width: inherit;
        }
    }
}

// Зубні імпланти
.insect1+.insect4 {
    padding-top: 70px;
}

.insect4 ul li p {
    min-height: 110px;
}

.insect4.v2+.tablesect.big {
    padding-top: 42px;
}

.descrblue.p50 {
    padding-left: 50px;
    padding-right: 50px;
}

.solutionlist p b {
    font-weight: 400;
}

@media(max-width:991.8px) {
    .descrblue.p50 {
        padding: 30px 40px;
    }
}

@media(max-width:575.8px) {
    .insect1+.insect4 {
        padding-top: 50px;
    }

    .littpadd,
    .infosection3 {
        padding-bottom: 20px;
    }

    .descrblue.p50 {
        padding: 20px;
    }
}

// --
.tablesect td,
.tablesect th {
    width: 33.333%;
}

.proces.big {
    padding: 100px 0 28px;

    h2 {
        text-transform: uppercase;
    }
}

// bite correction
.doc-group {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding-bottom: 48px;

    .perform-doc__wrapper {
        width: 100%;
        max-width: 80%;
        flex: 0 0 80%;
        padding-right: 15px;

        .descrwrap {
            padding-left: 45px;
        }
    }

    &::-webkit-scrollbar {
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        background: #E2E2E2;
        border-radius: 30px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #AFAFAF;
        border-radius: 30px;
        border: 2px solid #E2E2E2;
    }
}

.imgwrap.cover {
    max-height: inherit;
}

.container-l0 {
    .infbordbox {
        border-radius: 0 20px 20px 0;
        border-left: none;
        border-right: 1px solid var(--main);

        .borderbtn {
            margin-top: 28px;
        }
    }
}

.tablesect.large .tablewrapper td,
.tablesect.large .tablewrapper th {
    width: 20%;
}

.tablesect.large .tablewrapper {
    width: 100%;
    max-width: 100%;
}

.tablesect.large .tablewrapper td {
    padding-right: 30px;
    padding-bottom: 30px;
}

.proces.v2 {
    padding: 80px 0 28px;

    .title {
        margin: 0;
        color: #000;
        font-size: 30px;
        font-weight: 400;
    }

    .styledlist {
        margin-top: 46px;
    }
}

.rdborderblock.mh400 {
    min-height: 400px;
}

@media(max-width:991.8px) {
    .doc-group .perform-doc__wrapper {
        max-width: 100%;
        flex: 0 0 100%;

    }

    .container-l0 .infbordbox {
        border-radius: 20px;
        border-left: 1px solid var(--main);
    }

    .proces.v2 {
        padding-top: 60px;

        .text-end {
            text-align: left;

            .borderbtn {
                margin-top: 20px;
            }
        }
    }

    .rdborderblock.mh400 {
        min-height: initial;
        padding: 15px 20px;
    }

    .insect2  .rdborderblock {
        margin-top: 15px;
    }
 
}

@media(max-width:767.8px) {
    .perform-doc__wrapper {
        .bottblock {
            margin-top: 15px;
        }
    }
}

@media(max-width:575.8px) {
    .doc-group .perform-doc__wrapper .descrwrap {
        padding-left: 0;
    }

    .doc-group {
        padding-bottom: 20px;
    }

    .proces.v2 {
        padding: 50px 0 20px;
    }

    .proces.v2 .title {
        font-size: 21px;
    }
}

// Стоматологія сну
.tablesect .title i {
    font-style: normal;
}

.insect2 {
    .imgwrap {
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 100%;
        max-height: 500px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}

@media(max-width:767.8px) {
    .insect2 {
        .col-lg-3.text-end {
            text-align: left;

            .borderbtn {
                margin-bottom: 20px;
            }
        }
    }
}