.reversesect__left {
    width: 100%;
    max-width: calc(100% - 445px);
    flex: 1 0 calc(100% - 445px);
    padding-right: 20px;

    .descr {
        background: var(--primblue900);
        height: 100%;
        display: flex;
        align-items: center;
        padding: 10px 54px;
        border-radius: 20px;

        p {
            margin: 0;
            color: var(--white);
            font-size: 24px;
            font-weight: 300;
        }
    }
}

.reversesect__right {
    width: 100%;
    max-width: 445px;
    flex: 1 0 445px;

    .imgsect {
        img {
            vertical-align: top;
            width: 100%;
            border-radius: 20px 0 0 20px;
        }

        video {
            vertical-align: top;
            width: 100%;
            border-radius: 20px 0 0 20px;
        }
    }
}

.reversesect {
    .container-r0 {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(odd) {
            padding-right: 95px;
            padding-left: 0;

            .d-flex {
                flex-direction: row-reverse;
            }

            .imgsect {

                img,
                video {
                    border-radius: 0 20px 20px 0;
                }
            }

            .reversesect__left {
                padding-right: 0;
                padding-left: 20px;
            }
        }


    }
}

.result+.insect1 {
    padding-top: 60px;
}

.insect1 {
    padding: 100px 0 10px;

    .descrblue {
        background: #2B2D42;
        height: 100%;
        border-radius: 20px;
        padding: 20px 86px;
        display: flex;
        align-items: center;
        max-width: calc(100% - 20px);

        h3 {
            color: var(--white);
            font-size: 38px;
            text-transform: uppercase;
            line-height: 140%;
        }

        p {
            font-size: 24px;
            font-weight: 300;
            color: var(--white);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .descrlght {
        max-width: calc(100% - 95px);
        border-radius: 20px;
        background: var(--secblue);
        padding: 10px 18px;
        margin-bottom: 20px;

        p {
            font-weight: 300;
            font-size: 17px;
            margin: 0;
        }
    }

    img {
        border-radius: 20px 0 0 20px;
        vertical-align: top;
    }
}

.insect2 {
    padding: 44px 0 27px;

    .title {
        font-size: 30px;
        color: #313131;
        margin-bottom: 20px;
        font-weight: 400;
        margin-top: 20px;
    }

    .probltext {
        color: #000;
        margin: 0;
        @include textlight20;
    }

    .probllist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        border: 1px dashed var(--primblue900);
        border-radius: 20px;
        position: relative;
        overflow: hidden;

        li {
            width: 100%;
            max-width: 25%;
            flex: 0 0 25%;
            padding: 5px 5px;
            border-right: 1px dashed var(--primblue900);
            font-size: 20px;
            font-weight: 300;
            text-align: center;
            min-height: 50px;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            &:last-child {
                border-right: none;
            }

            &:nth-child(even) {
                background: var(--secblue);
            }
        }
    }
}

.head-inf2 {
    margin-bottom: 35px;
}

.solutionlist {
    margin: 0;
    padding: 0 24px 0 0;
    list-style-type: none;

    li {
        margin-bottom: 28px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    span {
        width: 100%;
        display: block;
        max-width: 48px;
        flex: 0 0 48px;
        color: var(--darkred);
        font-size: 48px;
        font-weight: 600;
        text-align: center;
    }

    p {
        margin: 0;
        width: 100%;
        max-width: calc(100% - 48px);
        flex: 0 0 calc(100% - 48px);
        border: 0.5px solid #313131;
        font-size: 20px;
        font-weight: 300;
        color: #181818;
        padding: 10px 44px;
        border-radius: 20px;
    }
}

.rdborderblock {
    height: 100%;
    border-radius: 20px 0 0 20px;
    border: 1px solid #B82A2A;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &.heightauto {
        height: auto;
    }

    p {
        margin: 0;
        font-size: 20px;
        max-width: 410px;

        span {
            color: #D00404;
        }
    }
}

.align-items-center {
    .rdborderblock {
        padding-top: 55px;
        padding-bottom: 55px;
    }
}

.perform-doc {
    padding: 100px 0 28px;

    .title {
        margin-bottom: 64px;
        color: #181818;
        @include med-titleh3;
    }
}

.perform-doc__wrapper {
    display: flex;
    flex-wrap: wrap;

    .imgwrap {
        width: 100%;
        max-width: 315px;
        flex: 0 0 315px;
        position: relative;
        overflow: hidden;
        border-radius: 20px;

        img {
            vertical-align: top;
            width: 100%;
        }
    }

    .descrwrap {
        width: 100%;
        max-width: calc(100% - 315px);
        flex: 0 0 calc(100% - 315px);
        padding-left: 54px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .name {
            color: #313131;
            font-size: 30px;
            margin-bottom: 39px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 16px;
                color: #000;
                font-size: 24px;
                font-weight: 300;

                span {
                    font-weight: 400;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.insect1 {
    .rdborderblock {
        height: auto;
        padding: 82px 45px;

        p {
            max-width: 100%;
        }
    }
}

.tablesect {
    padding: 80px 0 28px;

    .title {
        margin-bottom: 28px;
        font-size: 30px;
        color: #313131;
    }

    p {
        margin-bottom: 75px;
        color: #000;
        @include textlight20;
    }

    .tablewrapper {
        max-width: 792px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        border: 0.5px dashed #313131;
    }

    table {
        // border-radius: 20px;
        width: 100%;

        th {
            font-size: 20px;
            color: #000;
            padding: 0;
            background: var(--secblue);
            padding: 15px 10px;
        }

        td {
            padding: 20px 16px;
            font-size: 18px;
            font-weight: 300;
            color: #000;

            &:first-child {
                font-weight: 400;
            }
        }

    }

    table {
        border-collapse: collapse;
    }

    th,
    td {
        border-collapse: collapse;
        border-right: 0.5px dashed #313131;
        border-bottom: 0.5px dashed #313131;

        &:last-child {
            border-right: none;
        }
    }

    tr {
        &:last-child {
            td {
                border-bottom: none;
            }
        }
    }
}

.tablesect+.consultation-wrap {
    padding-top: 100px;
}


@media(max-width:1399.8px) {
    .insect1 .descrlght {
        max-width: calc(100% - (100vw - 1140px) / 2);
    }

    .result+.insect1 {
        padding-top: 40px;
    }

    .perform-doc .title {
        margin-bottom: 40px;
    }

    .perform-doc__wrapper .descrwrap ul li {
        margin-bottom: 12px;
    }

    .perform-doc__wrapper .descrwrap .name {
        margin-bottom: 30px;
    }

    .tablesect+.consultation-wrap {
        padding-top: 80px;
    }

    .reversesect .container-r0:nth-child(odd) {
        padding-right: calc((100vw - 1140px) / 2);
    }



    .perform-doc,
    .insect1 {
        padding-top: 80px;
    }

    .insect1 .descrblue h3 {
        font-size: 32px;
    }

    .insect2 .title,
    .perform-doc .title {
        font-size: 26px;
    }

    .reversesect__left .descr p,
    .insect1 .descrblue p,
    .perform-doc__wrapper .descrwrap ul li {
        font-size: 20px;
    }

    .insect2 .probltext,
    .insect2 .probllist li,
    .solutionlist p {
        font-size: 18px;
    }
}

@media(max-width:1199.8px) {
    .reversesect__right {
        max-width: 400px;
        flex: 0 0 400px;
    }

    .reversesect__left {
        max-width: calc(100% - 400px);
        flex: 0 0 calc(100% - 400px);
    }

    .reversesect .container-r0:nth-child(odd) {
        padding-right: calc((100vw - 950px) / 2);
    }

    .insect1 .descrblue {
        padding: 20px 60px;
    }

    .rdborderblock p {
        max-width: calc(100% - 30px);
    }

    .tablesect p {
        margin-bottom: 40px;
    }


    .insect1 .descrblue p,
    .perform-doc__wrapper .descrwrap ul li,
    .reversesect__left .descr p,
    .tablesect p {
        font-size: 18px;
    }
}

@media(max-width:991.8px) {
    .reversesect__left {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .reversesect__right {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .reversesect__left {
        padding: 0 !important;
        margin-bottom: 20px;
    }

    .reversesect__right .imgsect video {
        border-radius: 20px !important;
    }

    .reversesect__left .descr {
        padding: 20px 40px;
    }

    .reversesect .container-r0:nth-child(odd) {
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
    }

    .result+.insect1 {
        padding-top: 20px;
    }

    .insect1 .descrblue {
        max-width: 100%;
    }

    .insect1 .descrlght {
        max-width: 100%;
        margin: 10px 0;
    }

    .insect1 img {
        border-radius: 20px;
        width: 100%;
    }

    .insect2 .title {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .insect2 .probltext {
        margin-bottom: 15px;
    }

    .solutionlist {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .rdborderblock {
        border-right: 1px solid #B82A2A;
        border-radius: 20px;
        padding: 15px 20px;
    }

    .perform-doc__wrapper .descrwrap {
        padding-left: 20px;
    }

    .insect1 .descrblue h3 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .insect1 .descrblue {
        padding: 30px 40px;
    }

    .insect2 {
        padding: 30px 0 20px;
    }

    .insect1 img {
        margin-top: 10px;
        display: block;
    }

    .tablesect p {
        margin-bottom: 30px;
    }



    .tablesect .title {
        font-size: 26px;
    }

    .insect1,
    .perform-doc {
        padding-top: 70px;
    }
}

@media(max-width:767.8px) {

    .perform-doc__wrapper .imgwrap {
        max-width: 220px;
        flex: 0 0 220px;
    }

    .perform-doc__wrapper .descrwrap {
        max-width: calc(100% - 220px);
        flex: 0 0 calc(100% - 220px);
    }

    .perform-doc__wrapper .descrwrap .name {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .insect1 .rdborderblock {
        padding: 40px 30px;
    }

    .tablesect .title {
        margin-bottom: 20px;
    }





    .insect1,
    .perform-doc {
        padding-top: 50px;
    }

    .insect1 .descrblue p,
    .perform-doc__wrapper .descrwrap ul li,
    .reversesect__left .descr p,
    .tablesect p {
        font-size: 16px;
    }

    .rdborderblock p {
        font-size: 18px;
    }
}

@media(max-width:575.8px) {

    .perform-doc__wrapper .imgwrap,
    .perform-doc__wrapper .descrwrap {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .reversesect__left .descr {
        padding: 20px;
    }

    .reversesect__left,
    .reversesect .container-r0 {
        margin-bottom: 10px;
    }

    .resultslider .imgwrap {
        padding-bottom: 20px;
    }

    .insect1 .descrblue {
        padding: 20px;
    }

    .insect2 .probllist li {
        font-size: 14px;
        min-height: 40px;
    }

    .solutionlist span {
        font-size: 36px;
    }

    .solutionlist p {
        padding: 15px 20px;
        font-size: 16px;
    }

    .solutionlist li {
        margin-bottom: 15px;
    }

    .rdborderblock p {
        font-size: 16px;
    }

    .perform-doc .title {
        margin-bottom: 20px;
    }

    .perform-doc__wrapper .imgwrap {
        margin-bottom: 10px;
    }

    .perform-doc__wrapper .descrwrap {
        padding-left: 0;
    }

    .perform-doc__wrapper .descrwrap .name {
        margin-bottom: 10px;
    }

    .perform-doc__wrapper .descrwrap ul {
        margin-bottom: 20px;

        li {
            margin-bottom: 6px;
        }
    }

    .perform-doc {
        padding-bottom: 20px;
    }

    .tablesect .tablewrapper {
        overflow: auto;
        width: 100%;

        &::-webkit-scrollbar {
            height: 12px;
        }
    
        &::-webkit-scrollbar-track {
            background: #F4F4F4;
            border-radius: 30px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #2B2D42;
            border-radius: 30px;
            border: 2px solid #F4F4F4;
        }

        table {
            min-width: 700px;
        }


    }

    .tablesect+.consultation-wrap {
        padding-top: 50px;
    }











    .insect1 .descrblue h3,
    .insect2 .title,
    .perform-doc .title {
        font-size: 21px;
    }

    .insect2 .probltext {
        font-size: 16px;
    }

    .insect1 .descrlght p {
        font-size: 15px;
    }




}

@media(max-width:360.8px) {
    .insect2 .probllist li {
        font-size: 12px;
        min-height: 35px;
    }
}